---
http_interactions:
- request:
    method: get
    uri: https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Cmc-Pro-Api-Key:
      - 8dcea7b3-e421-46d8-8c2b-d7aa7482b143
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "status": {
                "timestamp": "2019-02-02T13:19:20.698Z",
                "error_code": 0,
                "error_message": null,
                "elapsed": 11,
                "credit_count": 1
            },
            "data": [
                {
                    "id": 1,
                    "name": "Bitcoin",
                    "symbol": "BTC",
                    "slug": "bitcoin",
                    "circulating_supply": 17515250,
                    "total_supply": 17515250,
                    "max_supply": 21000000,
                    "date_added": "2013-04-28T00:00:00.000Z",
                    "num_market_pairs": 6536,
                    "tags": [
                        "mineable"
                    ],
                    "platform": null,
                    "cmc_rank": 1,
                    "last_updated": "2019-02-02T13:18:26.000Z",
                    "quote": {
                        "USD": {
                            "price": 3488.31290302,
                            "volume_24h": 5004700773.1659,
                            "percent_change_1h": -0.184889,
                            "percent_change_24h": 0.132792,
                            "percent_change_7d": -3.7561,
                            "market_cap": 61098672574.62105,
                            "last_updated": "2019-02-02T13:18:26.000Z"
                        }
                    }
                },
                {
                    "id": 52,
                    "name": "XRP",
                    "symbol": "XRP",
                    "slug": "ripple",
                    "circulating_supply": 41163466448,
                    "total_supply": 99991708587,
                    "max_supply": 100000000000,
                    "date_added"[...]
